*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color:#06402B;
    height:60px;
    font-family: "Bodoni Moda", serif;
    color: white;

}
button.button{
    font-family: "Bodoni Moda", serif;
    background-color: #7a5901;
    border: none;
    border-radius: 2px;
    font-size: 18px;
}
a.nav-link.active:hover{
    color: #50C878;
}
.navbar-brand{
    width: 210px;
}
.modal-prueba{
    background-image: url(./assets/images/FondoSuscripcion.avif);
}
.modal-header img{
    width: 90px;
}
.modal-header{
    display: flex;
    justify-content:center;
}
.input-imagen{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.containerFooter {
    background-image: url(./assets/images/WhatsApp\ Image\ 2026-08-20\ at\ 01.03.39.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F5EBDD;
    padding-top: 50px;
}

 ul li{
    color: white;
    font-family: "Marcellus", serif;
    font-size: 18px;
}
ul li a{
    color: white;
    text-decoration: none;
    transition: .3s ease;
}

.firstWindows{
    width: 100%;
    min-height: 100vh;
    background-color: #F5EBDD;
   
}
#carouselExampleSlidesOnly img{
    width: 100%;
    height: 50vh;
    object-fit: cover;

}


.buscador {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.search {
    width: 90%;
    max-width: 650px;

    display: flex;
    align-items: center;


    background-color: #fce8cee5;

    border: 1px solid #C8BDA8;
    border-radius: 30px;

    padding: 0 20px;

    transition: 0.3s;
}

.search:focus-within {
    border-color: #8A6F3D;
    box-shadow: 0 4px 15px rgba(80, 65, 40, 0.12);
}

.search input {
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    padding: 15px 12px;

    font-family: Arial, sans-serif;
    font-size: 16px;

    color: #3F3A2F;
}

.search input::placeholder {
    color: #8A8375;
}

.icono-busqueda {
    font-size: 25px;
    color: #8A6F3D;
}

.badge {
    background-color: #915452;
    color: #fce8cee5;
    border-radius: 50px;
}
.boxCategory {
    display: flex;
    justify-content: center;

}
.boxCategory .list-group-item {
    background-color: #f3dec3c7;
    border-color: #f3dec3c7 ;
    border-radius: 10px;
    

}

.col-md-4{
  display: flex;
  flex-direction: column;
  gap: 5px;
  

}

.imagen-hover {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.imagen-hover:hover {
    position: relative;
    z-index: 9999;
    transform: scale(3.0);
}

.comerce{

    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    
}
.card {
    border: 0 !important;
}

.textTitle2{
    color:#3B2A20 ;
}

.card-body {
    background-color: #fce8cee5;

}

.card {
    background-color: #fce8cee5;
    border: none;
    
}

.card .col-md-4 {
    background-color: #fce8cee5;
}

.card .col-md-8 {
    background-color: #fce8cee5;
}

.titulo-seccion {
    font-family: "Bodoni Moda", serif;
    color: #3B2A20;
    font-size: 40px;
    font-weight: 600;
}

.titulo-seccion span {
    font-size: 60px;
    line-height: 0.8;
    color: #A85C3B;
}


.carousel-caption h5 {
    font-family: "Bodoni Moda", serif;
    font-size: 52px;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F5EBDD;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    height: 20%;

    background: linear-gradient(
        to top,
        rgba(245, 235, 221, 3.0),
        rgba(245, 235, 221, 0)
    );

    pointer-events: none;
}

.carousel-caption {
    z-index: 2;
}


text-end .btn-ver-mas {
    background-color: #A85C3B !important;
    color: #e6ddf5 !important;
    border: 1px solid #A85C3B !important;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.text-end .btn-ver-mas:hover {
    background-color: #87452E !important;
    border-color: #C49A5A !important;
    color: #FFFFFF !important;
}

.pagination .page-link {
    background-color: #9b884b;
    color: #412818;
    border: 1px solid #C49A5A;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;

    padding: 8px 14px;

    transition: all 0.3s ease;
}


/* HOVER */

.pagination .page-link:hover {
    background-color: #814b33;
    border-color: #A85C3B;
    color: #FFFFFF;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal {
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(150px) scale(0.75);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

.reveal-right {
    animation: aparecer-derecha linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

@keyframes aparecer-derecha {
    from {
        opacity: 0;
        transform: translateX(150px) scale(0.85);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}