*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-collapse{
    background-color:#a0522d;
    height:50px;
    font-size:20px;
    font-family: "Bodoni Moda", serif;

}

.button{
    font-family: "Bodoni Moda", serif;
    background-color: white;
    border-radius: 60px;
    border: none;
}
.modal.fade{
    font-family: "Bodoni Moda", serif;
    font-size: 20px;

}

.firstWindows{
    width: 100%;
    min-height: 100vh;
    background-color: white;
   
}
#carouselExampleSlidesOnly img{
    width: 100%;
    height: 40vh;
    object-fit: cover;

}


.buscador {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.search {
    width: 90%;
    max-width: 650px;

    display: flex;
    align-items: center;


    background-color: #EBC095;

    border: 1px solid #C8BDA8;
    border-radius: 30px;

    padding: 0 20px;

    transition: 0.3s;
}

.search:focus-within {
    border-color: #8A6F3D;
    box-shadow: 0 4px 15px rgba(80, 65, 40, 0.12);
}

.search input {
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    padding: 15px 12px;

    font-family: Arial, sans-serif;
    font-size: 16px;

    color: #3F3A2F;
}

.search input::placeholder {
    color: #8A8375;
}

.icono-busqueda {
    font-size: 25px;
    color: #8A6F3D;
}

.badge {
    background-color: #A82E29;
    color: #F5DCC3;
    border-radius: 50px;
}
.boxCategory {
    display: flex;
    justify-content: center;

}
.boxCategory .list-group-item {
    background-color: #EBC095;
    border-color: #EBC095 ;
    

}

.col-md-4{
  display: flex;
  flex-direction: column;
  gap: 5px;
  

}

.imagen-hover {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.imagen-hover:hover {
    position: relative;
    z-index: 9999;
    transform: scale(3.0);
}

.comerce{

    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    
}
